# java
*.class

### Eclipse ###
.checkstyle
.classpath
.project
.settings
bin/

### Gradle ###
.gradle/
build/

### Intellij ###
*.iml
*.ipr
*.iws
.idea/
out/

### annotation ###
.factorypath
.generated
generated_src/

### Log Files ###
*.log

### Mac OSX + Windows ###
.DS_Store

### Testing ###
.tmp

### Vim ###
*.sw[op]
